OOLessons.sln
OOLessons.suo
OOLessons/OOLessons.csproj
OOLessons/Properties
OOLessons/obj/
OOLessons/bin/
_Resharper.OOLessons/
OOLessons.sln.DotSettings.user
OOLessons.csproj
OOLessons.csproj.DotSettings
OOLessons.csproj.user
bin
obj
